{% extends 'PHOTOS/layout.html' %}

{% block title %}
Categories
{% endblock %}

{% block header %}
{% for item in ls %}
<li> <a href="/{{item.Category}}">{{item.Category}}</a></li>
{% endfor %}
{% endblock %}

{% block serach%}
<form action="/search" method="post" class="din form-search" >
    {% csrf_token %}
    {{form}}
    <button class='search-button' type="submit" name="search">Search</button>
</form>
{% endblock %}

{% block body %}
    <div class="container-content">
        {% for item in ls %}
            {% if item.Category == category %}
                {% for items in item.photos_set.all %}
                    <div class="content">
                        <div class="image">
                            <img class="image1" src="{{ items.imageURL }}" alt="mustbe_image">
                        </div>
                        <p class="name">Pick name: {{ items.Title }}</p>
                        <p>Category: {{ items.category }}</p>
                        <form action="/{{items.id}}" method="GET">
                            {% csrf_token %}
                            <button class='btn' type="submit" name="{{items.id}}">View</button>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}