{% extends 'PHOTOS/layout.html' %}

{% block title %}
Information page
{% endblock %}

{% block body %}

<div class="container-content">
    {% for item in ls %}
        {% for items in item.photos_set.all %}
            {% if items.id == id %}
                <h2 class="title">Pick name: {{ items.Title }}</h2>
                    <div class="content-box">
                        <div class="image-box">
                            <img class="image1-view" src="{{ items.imageURL }}" alt="mustbe_image">
                        </div>
                        <p>Category: {{ items.category }}</p>
                        <p>Description: {{ items.Description }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </div>

{% endblock %}