<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href='{% static "PHOTOS/main.css" %}?{% now "U" %}'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Base {% endblock %} </title>
</head>
<body>
    <div class="container">
          
        <div class="header"> 
            <ul class="din">
                <li><h3>Album</h3></li>
                <li><a href="/">All</a></li>
                <li><a href="/cars">Cars</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/design">Design</a></li>
                <li><a href="/code">Code</a></li>
            </ul>
            <form action="#" method="POST" class="din form-search" >
                {% csrf_token %}
                <input class="search-box" type="text" name="search" placeholder="serach">
                <button class='search-button' type="submit" name="search">Search</button>
            </form>
        </div>

        
            {% block header %}

            {% endblock %}
        

        <div class='blockbody'>
            {% block body %}
            {% endblock %}
        </div>

            {% block footer%}
            {% endblock %}

</body>
</html>