{% extends 'PHOTOS/layout.html' %}

{% block title %}
Search page
{% endblock %}

{% block body %}

<div class="container-content">
    {% if T %}
    {% for item in T %}
        <h2 class="title">Pick name: {{ item.Title }}</h2>
            <div class="content-box">
                <div class="image-box">
                    <img class="image1-view" src="{{ item.imageURL }}" alt="mustbe_image">
                </div>
                <p>Category: {{ item.category }}</p>
                <p>Description: {{ item.Description }}</p>
            </div> 
    {% endfor %}
    {% else %}
    <h2 class="title">Qidiruv bo'yicha ma'lumot topilmadi</h2>
    {% endif %}
    </div>

{% endblock %}