body{
    margin-top: -15px;
    margin-left: 0;
}
.container{
    width: 100vw;
    background-color: floralwhite;
    padding: 50px 0;
}
.container-content{
    width: 80%;
    margin: 50px auto;
    background-color: transparent;
    }
    
.content{
    width: 300px;
    height: 320px;
    padding: 10px;
    margin-top: 30px;
    display:inline-block;
    text-align: left;
    box-shadow: 0 0 4px #888888;
    border-radius: 5px;
    margin-left: 30px;
    background-color: white;
}
.image{
    margin-top: -10px;
    margin-left: -10px;
    width: 320px;
    height: 200px;
    border-radius: 3px;
}
.image1{
    background-size:cover;
    width: 320px;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
.btn{
    width: 310px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: -5px;
}
.name{
    font-size: 25px;
    margin-bottom: -5px;
}
.din{
    display: inline-block;
}
.header{
    width: 100vw;
    height: 60px;
    background-color:#f1e9e9;
    text-align:left;
    margin-top: -35px;
    margin-left: 0;
    position: sticky;
    top: 0;
    left: 0;
}

.header > ul > li{
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
}

.header > ul > li >a{
    text-decoration: none;
    font-family: sans-serif;   
    color:black; 
}
.header > ul {
    margin-top: -10px;
}
.search-box{
    width: 200px;
    height: 35px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 5px;
    border:1px solid rgb(107, 106, 106);
}
.search-button{
    background-color: transparent;
    width: 60px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border:1px solid green;
    color: green;
}
.form-search{
    margin-left: 45%;
}
.content-box{
    width: 70%;
    height: 70%;
    padding: 10px;
    margin-top: 30px;
    display:inline-block;
    text-align: left;
    box-shadow: 0 0 4px #888888;
    border-radius: 5px;
    margin-left: 30px;
    background-color: white;
}
.image-box{
    margin-top: -10px;
    margin-left: -10px;
    width: 70%;
    height: 50%;
    border-radius: 3px;
}
.image1-view{
    background-size:auto;
    width: 881px;
    height: 50%;
    border-radius: 5px 5px 0 0;
}
